httpx
tortoise-orm
asyncpg
pydantic
pydantic-settings
loguru
aiofiles
aioschedule
beautifulsoup4
lxml
prometheus-client
python-dotenv
pytest
PyYAML
uvloop
motor
httpx[http2]
prometheus_client
aiohttp
